.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.quote-icon {
  height: 64px;
  width: auto;
}

#testionials {
  background-image: url('../img/testimonials-bg.jpg')
}
