.navbarImage {
  height: 54px;
  width: auto;
  margin-top: 8px;
margin-left: 12px;
}

body {
  font-family: 'Lato', sans-serif;
}

.titleBold {
  font-weight: 400;
}

.svgGetLogos {
  height: 72px !important;
}

.topCol {
  margin-bottom: 30px;
}

.titleButton {
  font-size: 24px;
  background: white !important;
  color: black !important;
  border-color: white !important;
  border-radius: 16px !important;
  padding-top: 5px;
  height: 50px;
  line-height: 1.6em !important;
}

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: #666;
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad15 {
  background-image: url("../img/get-50-off.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
  left: 0;
}

.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}

.lead {
  font-size: 23px;
  color: white;
  font-weight: 400;
}

.TransparentText {
  color: #002B5F;
}

.productFirstRow {
  margin-top: 30px;
}

.greenText {
  color: #26A022;
  font-weight: 500;
}

.blueText {
  color: #2544B1;
  font-weight: 500;
}

.blueLightText {
  color: #2CC3D9;
  font-weight: 500;
}

.redText {
  color: #FF2A36;
  font-weight: 500;
}

.yellowText {
  color: #FA9A3D;
  font-weight: 500;
}

.blackText {
  color: black;
  font-weight: 500;
}

@media (max-width: 992px) {
  .bottomCol {
    margin-bottom: 30px!important;
  }
}

.getDivingBackground {
  padding: 0 !important;
  padding-bottom:
}

/* .getOffersBackground {
  background-color:#002660 ;
} */

.nfo-icon1 {
  text-align: center;
  border-radius: 4px;
  height: 195px;
}

.whiteText {
  color: white;
}

.bookNowSecondaryButton {
  margin-top: 40px;
}

.brandIcon {
  height: 100px;
  width: auto !important;
}

.getOffersSection {
  margin-top: 50px;
}

.offersItem {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 400px;
}

.paragraphOffers {
  /* height: 100%;
  width: 100%; */
  font-size: 1.61em;
  font-weight: 500;
  color: white;
}

.imageBanner {
  height: 60%;
  width: 100%;
  background-image: url("../img/get-50-off-party.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.offersCard {
  background-color: white;
  height: 40%;
}

.cardTextContainer {
  height: 60%;
  width: 100%;
}

.cardText {
  padding-top: 10px;
}

.cardButtonContainer {
  background-color: white;
  height: 40%;
}

.owl-prev .owl-next {}

.owl-prev {
  color: white !important;
  font-size: 30px !important;
  float: left !important;
  position: absolute !important;
  top: 200px;
  left: -38px;
}

@media (max-width: 805px) {
  .owl-prev {
    top: 178px;
    left: 8px;
  }
}

.owl-next {
  color: white !important;
  font-size: 30px !important;
  float: left !important;
  position: absolute !important;
  top: 200px;
  right: -38px;
}

@media (max-width: 805px) {
  .owl-next {
    top: 178px;
    right: 8px;
  }
}

.partnerImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scubaDogs {
  margin-left: 137px;
}
